/* ----------------------------------- */
/* ------- Benefits & Symptoms ------- */
/* ----------------------------------- */
.benefits-cards--container {
	margin-bottom: 10rem;
}

.benefits-card {
	display: flex;
	align-items: center;
	gap: 4.5rem;
	background-color: #f2f2f2;
	margin-bottom: 0.5rem;
	padding: 2.5rem 6rem 2.5rem 4rem;
}

.benefits-card--img {
	flex: 1;
}

.benefits-card--content {
	flex: 2;
}

.benefits-card--title {
	font-family: var(--font-en-1);
	font-size: 1.8rem;
	font-weight: 500;
	line-height: 1.8rem;
	text-transform: capitalize;
	color: #4a4a4a;
	margin: 0 0 1rem;
}

.benefits-card--description {
	font-size: 1.4rem;
	line-height: 2.2rem;
	color: #4a4a4a;
	margin: 0;
}
