.doctor-profile-container {
	max-width: 162px;
	display: flex;
	flex-direction: column;
	/* border-radius: 0.25rem; */
	/* box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1); */
	overflow: hidden;
}

.doctor-profile-speciality h4 {
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.2rem;
	color: #979797;
	margin: 1rem 0 0;
	padding-left: 1rem;
}

.doctor-profile-info {
	padding-left: 1rem;
}

.doctor-profile-info-name {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.doctor-profile-info-name h3,
.doctor-profile-info-name h4 {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.6rem;
	color: #252525;
	margin: 0.8rem 0 1.5rem;
}

.doctor-profile-info-name h3 {
	font-weight: 500;
}

.doctor-profile-info p {
	display: none;
}

.doctor-profile--info-button {
	margin-bottom: 2rem;
	padding-left: 1rem;
}

.doctor-profile--info-button a {
	font-family: var(--font-en-1);
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.4rem;
	color: #252525;
	border-bottom: 1px solid #000;
	margin: 1rem 0 0;
}

@media (min-width: 1000px) {
	.doctor-profile-speciality {
		display: none;
	}

	.doctor-profile-info p {
		display: block;
	}
}
