.main-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.main-header--logo {
	padding: 3rem 1.5rem 2rem;
}

@media (min-width: 1000px) {
	.main-header {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(7px);
		-webkit-backdrop-filter: blur(7px);
		padding: 0rem 2rem;
		z-index: 1000;
	}

	.main-header--container {
		max-width: 120rem;
		height: 8rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
	}

	.main-header--logo {
		padding: 0;
	}

	.main-header--logo img {
		min-width: 16.5rem;
	}
}
