.messege-comfirmation {
	width: 30rem;
	padding: 2.5rem 2rem 2rem;
}

.messege-comfirmation--icon {
	display: flex;
	justify-content: center;
}

.messege-comfirmation--icon img {
	width: 5.5rem;
}

.messege-comfirmation--content h3 {
	font-family: "poppins", sans-serif;
	font-size: 1.8rem;
	line-height: 2.4rem;
	font-weight: 600;
	text-align: center;
	color: #01c2ca;
	margin: 1.5rem 0 0.5rem;
}

.messege-comfirmation--content p {
	font-size: 1.6rem;
	line-height: 2.2rem;
	color: #5d5d5d;
	text-align: center;
	margin: 0 0 1rem;
}

.messege-comfirmation--button {
	width: 100%;
	font-size: 1.6rem;
	line-height: 1.6rem;
	color: #ffffff;
	background-color: #000000;
	padding: 2rem 0;
	border: none;
}
